$inputHeight:40px;

#contact {
	background-color: $contactColor;
	// background: $contactColor url('../img/IMG_5323.JPG') 0 0 no-repeat;
	// background-size: cover;
	
	font-size: 1rem;
	::-webkit-input-placeholder {
	   color: lighten($contactColor, 50%);  
	   font-size: 1em;
	   text-transform: uppercase;
	   margin: 5px;
	   font-family: 'brandon-grotesque';
	}
	:-moz-placeholder { /* Firefox 18- */
	   color: lighten($contactColor, 15%);  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: white;  
	}
	:-ms-input-placeholder {  
	   color: white;  
	}
	form {
		width: 80%;
		margin: 0 auto;
		padding-top: 70px;

		p {
			margin-top: 15px;
		}
		label {
			width: 30%;
			display: inline-block;
			text-align: right;
			font-weight: 500;
			font-size: 1.2em;
			height: $inputHeight;
			line-height: $inputHeight;
			
			margin-right: 1%;
			color:black;
			
		}
		input, textarea {
			-webkit-appearance: none;
			border:none;
			height: 40px;
			padding: 0;
			padding-left:15px;
			width: 40%;
			//background: lighten($contactColor , 5%);
			background: lighten($contactColor , 2%);
			border-radius: 2px;
			color:white;
			border-bottom:1px solid lighten($contactColor, 20%);
			&:focus{
				color: $aboutColor;
				outline: $aboutColor;
			
			}
			
		}
		textarea{
			padding-top: 10px;
		}
		input[type="submit"] {
			height: $inputHeight+10;
			width:41.5%;
		}
		textarea {
			resize:none;
			height: 200px;
			width: 40%;

		}
		input[type="submit"] {
			border: 2px solid $aboutColor;
			text-transform: uppercase;
			font-weight: 700;
			color:$aboutColor;
			&:hover{
				border: 2px solid $aboutColor;
				background: $aboutColor;
				color:white;
				cursor: pointer;
			}
		}
	}
	form {
		
		@include breakpoint(mobile) {
			width: 95%;
			
			label, input, textarea {
				width:100%;
				margin-right: 0;
			}
			label {
				text-align: left;
				font-size: 1em;
			}
			textarea {
				height: 100px;
			}
		}
		@include breakpoint(large-phone) {
			width: 95%;
			
			label, input, textarea {
				width:100%;

			}
			label {
				text-align: left;
			}
		}
		@include breakpoint(tablet) {
			width: 80%;
			margin: 0 auto;
			padding-top: 20px;
		}
	}
}