@font-face {
	font-family: 'icomoon';
	src:url('../icomoon.eot?j2wapk');
	src:url('../fonts/icomoon.eot?#iefixj2wapk') format('embedded-opentype'),
		url('../fonts/icomoon.woff?j2wapk') format('woff'),
		url('../fonts/icomoon.ttf?j2wapk') format('truetype'),
		url('../fonts/icomoon.svg?j2wapk#icomoon') format('svg');
	font-weight: 100;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}
