#portfolio {
	background-color: $portfolioColor;
	height: auto;
	@include respond-to(mobile) {
	 	//height: 170%; 
	}
	
	.close{
		position: absolute;
		display: block;
		right: 3%;
		top:69px;
		z-index: 111;
		height: 44px;
		width: 44px;
		text-align: center;
		line-height: 44px;
		display: none;
		font-weight: 500;
		font-size: 1.5em;
		@include respond-to(mobile) {
			top:0px;
		}
	}
	.clone{
		img{
			opacity: 0;
			@include prefix(transition, all 1s ease);
			@include prefix(transition-delay, 1s);

		}
		& > * {
			opacity: 0;
			@include prefix(transition, all 1s ease);
			@include prefix(transition-delay, 1s);
		}
	}
	.clone.full{
	
		position: absolute;
		left: 0px !important;
		top: 0px !important;
		right: 0px !important;
		bottom:0px !important;
		width: 100% !important;
		height: 720px !important;
		background-color: $portfolioColor;
		z-index: 20;
		padding-top: 50px;
		padding-left: 1%;
		@include prefix(transition, all 1s ease);
		& > * {
			opacity: 0;
			
			@include prefix(transition, all 1s ease);
			@include prefix(transition-delay, 1s);
		}
		img{
			display: inline-block;
			width: 55%;
	 		top:50px;
	 		@include respond-to(mobile) {
	 			width: 95%;
	 		}
		}
		
	 	#slider-controls{
	 		
	 		width: 52%;
	 		margin-left: 40px;
	 		padding-left: 0;
	 		overflow: hidden;
	 		li{
	 			
	 			display: inline;
	 			float: left;
	 			&:last-child{
	 				float: right;
	 			}
	 			a{
	 				display: block;
	 				width: 40px;
	 				height: 40px;
	 				line-height: 40px;
	 				font-size: 1.2em;
	 				&.next{
	 					text-align: right;
	 				}
	 			}
	 		}
	 		@include respond-to(mobile){
	 			width: 95%;
	 		}

	 	}
	 	#imgFull{
	 		//height: 100%;
	 		height: auto;
 			min-height: 600px;
 			overflow: hidden;
			padding-top: 10px;
			img{
				@include respond-to(mobile) {
			 		margin:0 auto;
					width: 100%;
		 		}
			}
 			@include respond-to(mobile) {
		 		max-height: 350px;
		 		width: 95%;
		 		margin:0 auto;
		 	}
		 	ul{
		 		width: 100%;
		 		height: 100%;
		 		overflow: hidden;
		 		li{
		 			height: 100%;
		 		}
		 	}
	 	}
		.expanded-info{
	 		position: absolute;
	 		top: 50px;//45px;
	 		left: 60%;
	 		right: 0;
	 		width: 33%;
	 		color:white;
	 		
	 		@include prefix(transition, all 1s ease);

	 		dl{
	 			font-size: 1.3em;
	 			top:50px;
	 		}
	 		dt{
	 			font-weight: 700;		
	 			padding:2px;
	 			color: lighten($portfolioColor, 20%);
	 			&.team, &.desc, &.skills{
	 				@include respond-to(mobile){
	 					display: none;
	 				}
	 			}
	 		}
	 		dd{
				margin-left: 1%;
				margin-top: 5px;
				margin-bottom: 5px;
				font-weight: 300;
				color: lighten($portfolioColor, 50%);
				&.team, &.desc, &.skills{
	 				@include respond-to(mobile){
	 					display: none;
	 				}
	 			}
	 		}
			@include respond-to(mobile) {
		 		left: 0%;
		 		top:60%;
		 		width: 100%;
		 		dl{
		 			overflow: hidden;
		 			width: 95%;
		 			margin: 0 auto;
		 		}
		 		dt, dd{
		 			display: inline-block;

		 		}
		 		dt{
		 			clear: both;
		 			float: left;
		 			width: 25%;
		 			text-align: right;
		 			margin-right: 0px;
		 			height: 44px;
		 			
	 				border-top: 1px solid lighten( $portfolioColor, 20%);

	 				
		 		}
		 		dd{
		 			float:right;
		 			width:65%;
		 			text-align: left;
		 			margin-left: 7px;
		 		}
		 	}
		 	
		}	
	}
	
	#gallery{
		width: 100%;
		max-width: 100%;
		&:after{
			
			content: ' ';
			display: block;
			clear: both;
		}
	}
	.galleryList{
	
		height: 100%;
		padding:0;
		padding-top: 0px;
		position: relative;

		@include respond-to(mobile) {
			width: 100%;
			//padding: 5px 2%;
		}
		
		
		li{
			list-style-type: none;
			display: inline-block;
			position: absolute;
			overflow: hidden;
			margin: 0;
			// width: 400px;
			// height: 300px;
		
			&.item, &.grid-sizer{
				width: 20%;

				height: 160px;
				overflow: hidden;
				float: left;
				// @include respond-to(mobile) {
				// 	width: 50%;
					
				// }	
				// @include respond-to(tablet) {
				// 	width: 40%;
				// 	max-width:383.5px;
				// }
				&.w2{
					width: 40%;
				}
				&.w4{
					width: 80%;
				}
				&.h2{
					height: 320px;
				}
				&.h4{
					height: 480px;
				}
			}
			
		 	.info{
		 		font-size: 1.2em;
		 		position: absolute;
		 		right: 0;
		 		left: 0;
		 		bottom:0;
		 		top:calc(100% - 50px);
		 		text-align: center;
		 		color:lighten(black, 40%);
		 		background: transparentize(white, 0.6);
		 		z-index: 0;
		 		
		 		@include prefix(transition, all .3s ease-in-out);
		 		dl{
		 			//padding-top: 25%;
		 			@include prefix(transition, all .3s);
		 			dt{
		 				font-size: 1em;
		 				color: white;
		 				.icon{
	 						font-size: 1em;
	 						color:white;
	 						margin-bottom: 20px;


	 						
	 					}
		 			}
		 			dd{
		 				
		 				font-size: 1.5em;

		 			}
		 		}
		 		&.show{
		 			top:0;
		 			background: transparentize(black, 0.5);
		 			color:lighten(black, 90%);
		 			dl{
		 				padding-top: 20%;
		 				dt{
		 					.icon{
		 						font-size: 2em;
		 						margin-bottom: 0;
		 					}
			 				
			 			}
		 				
		 			}
		 			@include respond-to(mobile) {
						display: none;
		 			}
		 		}
		 	}
		 	img{
		 		width: 100%;
		 		@include prefix(transition, all 2s ease);	  
		 	}
		 	&:hover{
				cursor:pointer;
				img{
					//-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
					//filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
					-webkit-filter: blur(5px);
					filter: blur(20px);
					//opacity: 0.5;
				}
			}
		}
	}
}