header {
	position: absolute;
	right: 5%;
	top:93.2%;
	height: 50px;
	width: 100%;
	left: 0;
	right: 0;
	z-index: 222;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;

	// @include breakpoint(mobile) {
	// 	display: none;
	// 	position: fixed;
	// 	top:0;
	// }
	// @include breakpoint(large-phone) {
	// 	position: fixed;
	// 	bottom:0;
	// }
	&.clone {
		position: absolute;
		top: 0;
		overflow: hidden;
		background-color: rgba(0, 0, 0, 1);
		img{
			display: none;
		}
	}
	nav {
		text-align: right;
		color:white;
		height: 100%;
		padding-right: 5%;
		line-height: 50px;

		a {
			font-size: 1.5em;
			padding-right: 10px;
			padding-left: 10px;
			
			&:last-child {
				border-right: none;
			}
		}

		// @include breakpoint(mobile) {
		// 	text-align: center;
		// 	display: none;
		// }
	}
	h1 {
		
		color:white;
		font-weight: 100;

		a {
			font-size: 1em;
		}
		span {
			font-size: .75em;
			margin-left: 10px;
		}
	}
	&.hide {
		top: -50px;
	}
}