@mixin addShadow(){
 	-moz-box-shadow: 0px 4px 5px #666, 2px 6px 10px #999;
  -webkit-box-shadow: 0px 4px 5px #666, 2px 6px 10px #999;
  box-shadow: 0px 4px 5px #666, 2px 6px 10px #999;
}
@mixin breakpoint($point) {
	@if $point == mobile {
		@media screen and (max-width : 479px) {  @content; }
	}
	@else if $point == large-phone {
		@media screen and (min-width : 480px) and (max-width : 767px) { @content; }
	}
	@else if $point == tablet {
		@media screen and (min-width : 768px) and (max-width : 959px) { @content; }
	}
	@else if $point == browser {
		@media screen and (min-width : 960px) and (max-width: 1199px) { @content; }
	}
	@else if $point == large-browser {
		@media screen and (min-width : 1200px) { @content; }
	}
}
$devices: mobile 260px 479px 0px, large-phone 383px 767px 30px, tablet 400px 959px 50px;
@mixin respondGallery($d) {
	@each $device in $devices{
		@if nth($device, 1) == $d {
			$itempxwidth : nth($device, 2);
			$itemWidth: percentage($itempxwidth/ nth($device, 3));
			$itemHeight:  $itempxwidth * 0.75;
			$i:0;
			@for $i from 0 through 2 {
				
			}
		}
	}
}