$portfolioColor:  hsla(198, 12%, 16%, 1.0);
$contactColor: #666f7c;
$aboutColor: hsla(333, 53%, 39%, 1.0); 
$faqColor: darken(hsla(55, 43%, 85%, 1.0), 5%);
$linkColor: white;
$yellowMustard: hsla(44, 68%, 57%, 1.0);