//@import 'normalize';
@import 'vars';
@import 'fonts';
@import 'mixins';
@import 'anim';
@import 'header';
@import 'about';
@import 'contact';
@import 'gallery';

body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	overflow: hidden;
	font-family: 'brandon-grotesque', arial, helvetica, sans-serif;
	font-size: 62.5%;
	font-weight: 300;
}
#scroll {
	width: 100%;
	height: 100%;
}

ul.wrapper {
	margin: 0;
	padding: 0;
	height: 100%;

	li.bg {
		margin: 0;
		padding: 0;
		position: relative;
		height: 100%;

		.bg {
			position: absolute;
			right: 0;
			left: 0;
			height: 100%;
			overflow: hidden;
			background-color: $aboutColor;

			@include prefix(transition, all 1s ease);

			.content {
				width: 80%;
				margin: 0 auto;
			}
		}
	}
}
li {
	list-style-type: none;
}
a {
	color: white;
	text-decoration: none;
	font-size: 1.2em;

	&.active {
		color: $yellowMustard;
	}
	&:hover{
		color:$aboutColor;
		border-bottom: 1px solid $aboutColor;
	}
}
p, li {
	margin: 0;
	padding: 0;
}
img {
	display: block;
	max-width: 100%;
}
h2 {
	width: 100%;
	text-align:center;
	margin-top: 50px;
	font-size: 5em;
	color:white;
	margin-bottom: 0;

	@include breakpoint(mobile) {
		font-size: 2em;
		margin-top: 20px;
		display: none;
	}
	@include breakpoint(large-phone) {
		font-size: 2em;
		margin-top: 20px;
		display: none;
	}
}
.icon {
	font-family: 'icomoon';
	font-weight: 100;
	font-size: 1.2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}